services:
  trading-saas-front:
    container_name: trading-saas-front
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./src/frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: false
