version: "3.9"

services:
  front:
    container_name: trading-saas-front-dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    networks:
      - trading-saas-net

networks:
  trading-saas-net:
    external: true
