html, body, #root {
  height: 100%;
  margin: 0;
}

.container-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 8px;
}

.mosaic {
  gap: 8px;
}
